.navbar{
    background: none;
    display: flex;
    position: sticky 10px;
    z-index: 10;
}
@font-face {
    font-family: Naava;
    src:url(/Naava\ Bold.ttf);
  }
    
  .brandname{
    font-family: Naava;
  }
  
  
.brandname{
    color: #dac9df;
    justify-content: center;
    align-items: center;
}

.banner img {
    width: 100%;
    top: 0px;
    position: absolute;
}

.banner {
    top: 0px;
}